.wrapper {
    background-color: var(--bg-surface-color);
    z-index: 400;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px var(--hover-color);
    color: var(--text-color);
}

.wrapper img {
    width: 25px;
}

.folder {
    position: relative;
    z-index: 600;
}

.folder-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.arrow {
    width: 7px;
    height: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.folder-content {
    position: absolute;
    top: 2.5rem;
    left: -1rem;
    background-color: var(--bg-surface-color);
    box-shadow: 0px 0px 2px var(--hover-color);
    z-index: 500;
    width: 100px;
    border-radius: 5px;
    font-family: var(--poppin);
    font-weight: 200;
    font-size: 0.9rem;
    overflow: hidden;
    color: var(--text-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out,
                opacity 1s ease-in-out;
}

.open-content {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 1s ease-in-out,
                opacity 1s ease-in-out;
}

.folder-content li {
    list-style: none;
    padding: 0.2rem 0.5rem;
}

.folder li:hover {
    background-color: var(--hover-color);
}

.pin {
    width: 25px;
    transform: rotate(-45deg);  
    cursor: pointer;
}

.download {
    transform: translateY(0px);
    opacity: 1;
    cursor: pointer;
}

.download:hover {
    animation: download 1.5s infinite forwards linear;
}

.resize {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    transform: rotate(-45deg);
    transition: transform 0.5s ease-in-out;
}

.resize:hover {
    transform: rotate(-135deg);
    transition: transform 0.5s ease-in-out;
}

.resize span:first-of-type {
    transform: rotate(90deg);
    font-size: 10px;
}

.resize span:last-of-type {
    transform: rotate(-90deg);
    font-size: 10px;
}


/* more css  */
.more-wrapper {
    position: relative;
}

.more {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.more span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.more:hover span:nth-child(1) {
    animation: bounce 0.3s  0s linear;
}

.more:hover span:nth-child(2) {
    animation: bounce 0.3s  0.3s linear;
}

.more:hover span:nth-child(3) {
    animation: bounce 0.3s  0.6s linear;
}

.more-content {
    position: absolute;
    top: 2.5rem;
    right: -1rem;
    background-color: var(--bg-surface-color);
    box-shadow: 0px 0px 2px var(--hover-color);
    z-index: 500;
    width: 100px;
    border-radius: 5px;
    font-family: var(--poppin);
    font-weight: 200;
    font-size: 0.9rem;
    overflow: hidden;
    color: var(--text-color);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1s ease-in-out,
                opacity 1s ease-in-out;
}

.more-open {
   transform: translateX(0);
   opacity: 1;
   transition: transform 1s ease-in-out,
               opacity 1s ease-in-out;
}

.more-content li {
    list-style: none;
    padding: 0.2rem 0.5rem;
}

.more-content li:hover {
    background-color: var(--hover-color);
}



/* file icons arrow css */
.arrow p {
    /* border-bottom: 2px solid var(--text-color); */
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrow p:first-of-type {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.arrow p:last-of-type {
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
}

.open {
    transform: rotate(-90deg);
    transition: transform 0.5s  ease-in-out;
}


@keyframes download {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(5px);
        opacity: 0.3;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}
@media only screen and (max-width: 1000px) {
    .floating-box-wrapper {
        right: calc(5% + 4px);
    }
}