<div class="container content-wrapper">
    <div class="idea-wrapper" id="two" [formGroup]="CurrentIdeas">
        <p class="content-date">Today</p>
        <div class="ideas" formArrayName="items">
            <div class="editor-wrapper" *ngFor="let div of items.controls.slice().reverse(); let idx = index;">
                <small class="time"></small>
                <div 
                    contenteditable="true" 
                    [id]="'editable_' + idx" 
                    [formGroupName]="idx" 
                    (input)="changeDetection($event, idx)"
                    class="textarea"
                    (blur)="addIdea(idx)"
                    (keydown)="deleteIdeas($event, idx)"
                    >
                </div>
                <!-- all ideas dialog box -->
                <div class="previous-ideas-wrapper"
                    *ngIf="ideaMenuOpen.flag && idx === ideaMenuOpen.control && ideaMenuOpen.length > 0" [ngStyle]="boxPosition">
                    <span>Select Ideas</span>
                    <div class="previous-ideas">
                        <p *ngFor="let idea of getAllIdeas(); let i = index;" (click)="addAnotherIdeaAsRef(idx, i)">
                            <span>{{idea}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cover" *ngIf="ideaMenuOpen.flag" (click)="clickedOutside()"></div>