<div class="container content-wrapper">
    <div class="idea-wrapper" id="two" [formGroup]="CurrentIdeas">
        <p class="content-date">Today</p>
        <div class="ideas" formArrayName="items">
            <div 
            class="editor-wrapper" 
            *ngFor="let div of items.controls.slice().reverse(); let idx = index;">
                <div 
                    contenteditable="true" 
                    [id]="'editable_' + ((items.value.length - 1) - idx)" 
                    (input)="changeDetection($event, ((items.value.length - 1) - idx))"
                    class="textarea"
                    (keydown)="onAnyKeyPress(((items.value.length - 1) - idx), $event)"
                    >
                </div>
                <div class="placeholder" *ngIf="showPlaceholder(((items.value.length - 1) - idx))">
                    <p>Press Alt + ArrowDown, ArrowUp to add one more editor.</p>
                    <p>Press Ctrl + Space to open ideas dialog box.</p>
                    <p>For Deletion Press Delete Btn or Backspace.</p>
                </div>
                <div class="editor-warpper-right" (click)="onClickIcons(((items.value.length - 1) - idx))">
                    <!-- <p class="time">2:60 Am</p> -->
                    <div class="close-wrapper">
                        <div class="close-icon">
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- all ideas dialog box -->
                <div 
                    class="previous-ideas-wrapper"
                    *ngIf="ideaMenuOpen.flag && ((items.value.length - 1) - idx) === ideaMenuOpen.control &&  ideaMenuOpen.length > 0" 
                    [ngStyle]="boxPosition">
                    <span>Select Ideas</span>
                    <div class="previous-ideas">
                        <p 
                            *ngFor="let idea of getAllIdeas(); let i = index;" 
                            (click)="addAnotherIdeaAsRef(((items.value.length - 1) - idx), idea)">
                            <span>{{idea}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cover" *ngIf="ideaMenuOpen.flag" (click)="clickedOutside()"></div>