
.floating-wrapper {
    position: relative;
    z-index: 1000;
    cursor: grab;
    padding: 20px 0;
}


.content-wrapper {
    margin-top: -59.2px;
}

.idea-wrapper {
    position: relative;
    overflow-y: scroll;
    border-radius: 10px;
    height: calc(100vh - 79px - 51.2px);
}

.idea-wrapper::-webkit-scrollbar {
    width: 3px;
}

.idea-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}


.ideas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3px;
}

.content-date {
    text-align: center;
    position: sticky;
    top: 0;
    right:0;
    z-index: 400;
    padding: 20px 0;
}

.ideas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 10px var(--shadow-color);
    border-radius: 10px;
}

.placeholder {
    position: absolute;
    left: 0;
    top: 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    z-index: 20;
    font-style: italic;
    color: #808080;
    user-select: none;
    font-size: 1rem;
    padding: 0 0.5rem;
    height: 70px;
}

.editor-warpper-right {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.close-wrapper {
    width: 20px;
    cursor: pointer;
    margin-top: -1.5rem;
    margin-right: 0.2rem;
    align-self: end;
}

.close-wrapper:hover p {
    opacity: 0.5;
}

.close-icon {
    display: flex;
    flex-direction: column;
}

.close-icon p {
    border-bottom: 2px solid var(--danger);
}

.close-icon p:first-of-type {
    transform: rotate(45deg) translateY(1px);
}

.close-icon p:last-of-type {
    transform: rotate(-45deg) translateY(-1px);
}

.editor-wrapper .time {
    font-size: 0.7rem;
    font-weight: 200;
    font-style: italic;
    align-self: end;
}

.editor-wrapper {
    background-color: var(--bg-surface-color);
}

.editor-wrapper .textarea {
    background-color: transparent;
    outline: none;
    resize: none;
    border: none;
    color: var(--text-color);
    font-size: 1.1rem;
    width: 100%;
    height: 70px;
    font-family: var(--poppin);
    font-weight: 200;
    overflow-y: auto;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    z-index: 30;
    overflow-x: hidden;
}

.textarea::-webkit-scrollbar {
    display: none;
}

.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    margin-top: -71.2px;
    overflow: hidden;
}

.previous-ideas-wrapper {
    position: absolute;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 1px var(--text-color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 440;
    max-width: 300px;
}


.previous-ideas-wrapper .title {
    font-weight: 400;
    padding: 5px 10px;
    background-color: var(--bg-surface-color);
    border-bottom: 0.8px solid var(--hover-color);
}

.previous-ideas {
    max-height: 200px;
    overflow-y: scroll;
    background-color: var(--bg-surface-color);
}

.previous-ideas::-webkit-scrollbar {
    display: none;
}

.previous-ideas p {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.previous-ideas p:hover {
    background-color: var(--hover-color);
}

.previous-ideas p span{
    display: inline-block;
    color: var(--primary-variant-color);
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.previous-ideas p:hover span {
    color: var(--text-color);
}

.hightlight {
    color: var(--primary-color);
}

@media only screen and (max-width: 500px) {
    .placeholder {
        font-size: 0.8rem;
    }
}