<div class="header-wrapper">
  <div class="nav container">
    <div class="nav-left">
      <fa-icon class="icons" [icon]="faHome"></fa-icon>
      <fa-icon class="icons" [icon]="faArrowLeft"></fa-icon>
    </div>
    <div class="nav-middle">
      <div class="search-wrapper">
        <fa-icon class="icons" [icon]="faMagnifyingGlass"></fa-icon>
        <input type="text" name="search" id="search" class="search" placeholder="Search Notes" autocomplete="off">
      </div>
    </div>
    <div class="nav-right">
      <fa-icon class="icons" [icon]="faPenToSquare" (click)="onClickAdd()"></fa-icon>
    </div>
  </div>
</div>

<div class="main-content">
  <app-editor></app-editor>
</div>