<div class="header-wrapper">
  <div class="nav container">
    <div class="nav-left">
      <i class="fas fa-moon icons" *ngIf="!isDark"  (click)="changeMode()"></i>
      <i class="fas fa-sun icons" *ngIf="isDark" (click)="changeMode()"></i>
      <i class="fas fa-arrow-left icons"></i>
    </div>
    <div class="nav-middle">
      <div class="search-wrapper">
        <i class="fas fa-search icons"></i>
        <input type="text" name="search" id="search" class="search" placeholder="jadhavrohan5050@gmail.com" autocomplete="off" value="jadhavrohan5050@gmail.com">
      </div>
    </div>
    <div class="nav-right">
      <i class="fas fa-edit icons" (click)="onClickAdd()"></i>
    </div>
  </div>
</div>

<div class="main-content">
  <app-editor></app-editor>
</div>