.header-wrapper {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    padding: 0.5rem 0;
    box-shadow: 0px 0px 1px var(--text-color);
    position: fixed;
    z-index: 300;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.nav-left {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    width: 50px;
}

.nav-left .icons:last-of-type {
    color: var(--primary-variant-color);
}

.nav-left .icons:hover {
    color: var(--primary-variant-color);
}

.fa-sun {
    animation: rotate 10s  infinite linear;
}

.fa-sun:hover {
    animation: none;
}

.nav-middle {
    position: relative;
    width: calc(100% - 120px - 3rem);
}

.nav-middle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 25%;
    width: 3px;
    height: 50%;
    background-color: var(--primary-variant-color);
    border-radius: 2px;
}

.search-wrapper {
    background-color: var(--bg-surface-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px 0.8rem;
    gap: 1rem;
    box-shadow: 0 3px 10px var(--shadow-color);
}

.search-wrapper .icons:hover {
    color: var(--primary-variant-color);
}

.search-wrapper input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text-color);
    height: 2rem;
    font-size: 1.1rem;
    font-family: var(--poppin);
    font-weight: 300;
    width: 100%;
}

.nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    width: 70px;
}

.nav-right .icons:first-of-type {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: #212121;
}

.nav-right .icons:last-of-type:hover {
    opacity: 0.5;
    color: #fff;
}


/* main content  */
.main-content {
    transform: translateY(51.2px);
    height: calc(100vh - 51.2px);
    color: var(--text-color);
    overflow: hidden;
    scroll-behavior:smooth;
    margin-bottom: 20px;
}


.main-content::-webkit-scrollbar {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1050px) {

}


@media only screen and (max-width: 500px) {
    .icons {
        font-size: 1rem;
    }

    .search-wrapper {
        gap: 0.5rem;
    }

    .search-wrapper input{
        font-size: 1rem;
        padding-left: 0;
    }
}